{% extends 'base.html.twig' %}

{% block body %}
    <div class="container content" align="center">
        <h3>Có vẻ bạn đã chậm chân. Tài khoản này đã được người dùng khác mua trước đó!</h3>
    </div>
{% endblock %}