{% extends 'base.html.twig' %}

{% block body %}
    <div class="container content" align="center">
        <h3>Cảm ơn bạn đã tin tưởng khi mua hàng tại web!</h3>
        <p><em>Thông tin chi tiết đã được gửi về email của bạn!</em></p>
    </div>
{% endblock %}